.verifybtn {
  position: absolute;
  right: 0;
  border-radius: 10px;
  margin: 5px;
  width: 76px;
  cursor: pointer;
  height: 34px;
  background-color: rgb(207, 207, 207);
  border: none;
}

.login-input {
  position: relative;
  width: 100%;
}

.emailBox {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  /* background-color: aquamarine; */
}

.login-button:disabled {
  background-color: aliceblue;
  cursor: not-allowed;
  transform: translateY(1px);
}
